html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #ff5858,
    #f857a6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#ff5858, #f857a6);
  border-radius: 6px;
}

.image-gallery-image {
  max-height: 500px !important;
  min-height: 400px;
  display: flex;
  flex-grow: 1;
}

.image-gallery-thumbnails {
  margin-top: 20px;
}
